<?xml version="1.0" encoding="utf-8"?>
<!-- generator="Joomla! - Open Source Content Management" -->
<feed xmlns="http://www.w3.org/2005/Atom"  xml:lang="pt-br">
	<title type="text">Início - RibaFS Portal</title>
	<subtitle type="text">Servidores linux, Programação web (PHP, Joomla, CakePHP, Laravel), Programação Mobile (Phaser, PhoneGap, Monaca, Unity, etc) entre outros.</subtitle>
	<link rel="alternate" type="text/html" href="http://ribafs.org"/>
	<id>http://ribafs.org/portal/</id>
	<updated>2018-07-11T16:36:49-03:00</updated>
	<generator uri="https://www.joomla.org">Joomla! - Open Source Content Management</generator>
	<link rel="self" type="application/atom+xml" href="http://ribafs.org/portal/?format=feed&amp;type=atom"/>
	<entry>
		<title>Boas Vindas!</title>
		<link rel="alternate" type="text/html" href="http://ribafs.org/portal/?view=article&amp;id=2:boas-vindas&amp;catid=2"/>
		<published>2017-06-22T11:58:41-03:00</published>
		<updated>2017-06-22T11:58:41-03:00</updated>
		<id>http://ribafs.org/portal/?view=article&amp;id=2:boas-vindas&amp;catid=2</id>
		<author>
			<name>Ribamar FS</name>
		</author>
		<summary type="html">&lt;div class=&quot;feed-description&quot;&gt;&lt;p&gt;Olá como vai?&lt;/p&gt;
&lt;p&gt;Seja sinceramente bem vindo(a)!&lt;/p&gt;
&lt;p style=&quot;text-align: justify;&quot;&gt;Este site está com todo o seu conteúdo atualizado e com alguns novos.&lt;br /&gt;Agora temos as versões 3 do Joomla e do CakePHP e também alguns assuntos que não havia, como Laravel 5 e várias ferramentas Mobile.&lt;/p&gt;
&lt;p style=&quot;text-align: justify;&quot;&gt;Os principais assuntos compartilhados aqui são os mostrados nos menus acima.&lt;br /&gt;Também, de vez em quando, publico algum artigo na seção Blog, sobre saúde ou alguma reflexão sobre a vida.&lt;br /&gt;&lt;br /&gt;O foco do conteúdo deste site fica em Linux, Windows, Web (online) e Mobile (especificamente Android).&lt;br /&gt;O destaque do conteúdo fica com o &lt;a title=&quot;PostgreSQL&quot; href=&quot;http://ribafs.org/portal/postgresql&quot;&gt;PostgreSQL&lt;/a&gt; (que começei a adicionar o conteúdo mas tem muita coisa) e a programação Mobile, especialmente por ter encontrado e compartilhado algumas ferramentas que facilitam a vida do programador, como o &lt;a title=&quot;Phaser&quot; href=&quot;http://ribafs.org/portal/mobile/phaser&quot;&gt;Phaser&lt;/a&gt;, &lt;a title=&quot;http://ribafs.org/portal/mobile/phonegap&quot; href=&quot;http://ribafs.org/portal/mobile/phonegap&quot;&gt;PhoneGap&lt;/a&gt; e o &lt;a title=&quot;http://ribafs.org/portal/mobile/monaca&quot; href=&quot;http://ribafs.org/portal/mobile/monaca&quot;&gt;Monaca&lt;/a&gt;.&lt;/p&gt;
&lt;p&gt;Para as versões anteriores do Cake e do Joomla, além de Virtualização de Servidores Linux veja meu aite anterior &lt;a href=&quot;http://ribafs.16mb.com/&quot;&gt;http://ribafs.16mb.com/&lt;/a&gt; &lt;br /&gt;&lt;br /&gt;Meus livros (todos free aqui no site) - &lt;a title=&quot;https://ribafs.org/portal/curriculo/livros.html&quot; href=&quot;http://ribafs.org/portal/curriculo/livros.html&quot;&gt;https://ribafs.org/portal/curriculo/livros.html&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;Meus projetos no GitHub - &lt;a href=&quot;https://github.com/ribafs?tab=repositories&quot; target=&quot;_blank&quot; rel=&quot;noopener noreferrer&quot;&gt;https://github.com/ribafs?tab=repositories&lt;/a&gt; &lt;br /&gt;&lt;br /&gt;Caso tenha encontrado algo errado ou tenha alguma sugestão para melhorar qualquer um dos artigos, por favor acesse o item &lt;a title=&quot;Contato&quot; href=&quot;http://ribafs.org/portal/contato&quot; rel=&quot;alternate&quot;&gt;Contato&lt;/a&gt; e me enviar uma mensagem. Ou deixe um comentário logo abaixo do próprio artigo.&lt;br /&gt;&lt;br /&gt;Muito grato.&lt;br /&gt;Ribamar FS, 12 de julho de 2017&lt;/p&gt;
&lt;p&gt; &lt;/p&gt;&lt;/div&gt;</summary>
		<content type="html">&lt;div class=&quot;feed-description&quot;&gt;&lt;p&gt;Olá como vai?&lt;/p&gt;
&lt;p&gt;Seja sinceramente bem vindo(a)!&lt;/p&gt;
&lt;p style=&quot;text-align: justify;&quot;&gt;Este site está com todo o seu conteúdo atualizado e com alguns novos.&lt;br /&gt;Agora temos as versões 3 do Joomla e do CakePHP e também alguns assuntos que não havia, como Laravel 5 e várias ferramentas Mobile.&lt;/p&gt;
&lt;p style=&quot;text-align: justify;&quot;&gt;Os principais assuntos compartilhados aqui são os mostrados nos menus acima.&lt;br /&gt;Também, de vez em quando, publico algum artigo na seção Blog, sobre saúde ou alguma reflexão sobre a vida.&lt;br /&gt;&lt;br /&gt;O foco do conteúdo deste site fica em Linux, Windows, Web (online) e Mobile (especificamente Android).&lt;br /&gt;O destaque do conteúdo fica com o &lt;a title=&quot;PostgreSQL&quot; href=&quot;http://ribafs.org/portal/postgresql&quot;&gt;PostgreSQL&lt;/a&gt; (que começei a adicionar o conteúdo mas tem muita coisa) e a programação Mobile, especialmente por ter encontrado e compartilhado algumas ferramentas que facilitam a vida do programador, como o &lt;a title=&quot;Phaser&quot; href=&quot;http://ribafs.org/portal/mobile/phaser&quot;&gt;Phaser&lt;/a&gt;, &lt;a title=&quot;http://ribafs.org/portal/mobile/phonegap&quot; href=&quot;http://ribafs.org/portal/mobile/phonegap&quot;&gt;PhoneGap&lt;/a&gt; e o &lt;a title=&quot;http://ribafs.org/portal/mobile/monaca&quot; href=&quot;http://ribafs.org/portal/mobile/monaca&quot;&gt;Monaca&lt;/a&gt;.&lt;/p&gt;
&lt;p&gt;Para as versões anteriores do Cake e do Joomla, além de Virtualização de Servidores Linux veja meu aite anterior &lt;a href=&quot;http://ribafs.16mb.com/&quot;&gt;http://ribafs.16mb.com/&lt;/a&gt; &lt;br /&gt;&lt;br /&gt;Meus livros (todos free aqui no site) - &lt;a title=&quot;https://ribafs.org/portal/curriculo/livros.html&quot; href=&quot;http://ribafs.org/portal/curriculo/livros.html&quot;&gt;https://ribafs.org/portal/curriculo/livros.html&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;Meus projetos no GitHub - &lt;a href=&quot;https://github.com/ribafs?tab=repositories&quot; target=&quot;_blank&quot; rel=&quot;noopener noreferrer&quot;&gt;https://github.com/ribafs?tab=repositories&lt;/a&gt; &lt;br /&gt;&lt;br /&gt;Caso tenha encontrado algo errado ou tenha alguma sugestão para melhorar qualquer um dos artigos, por favor acesse o item &lt;a title=&quot;Contato&quot; href=&quot;http://ribafs.org/portal/contato&quot; rel=&quot;alternate&quot;&gt;Contato&lt;/a&gt; e me enviar uma mensagem. Ou deixe um comentário logo abaixo do próprio artigo.&lt;br /&gt;&lt;br /&gt;Muito grato.&lt;br /&gt;Ribamar FS, 12 de julho de 2017&lt;/p&gt;
&lt;p&gt; &lt;/p&gt;&lt;/div&gt;</content>
		<category term="Destacado" />
		<category term="Uncategorised" />
	</entry>
</feed>
