<?xml version="1.0" encoding="utf-8"?>
<!-- generator="Joomla! - Open Source Content Management" -->
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
	<channel>
		<title>Início - RibaFS Portal</title>
		<description><![CDATA[Servidores linux, Programação web (PHP, Joomla, CakePHP, Laravel), Programação Mobile (Phaser, PhoneGap, Monaca, Unity, etc) entre outros.]]></description>
		<link>http://ribafs.org/portal/</link>
		<lastBuildDate>Wed, 11 Jul 2018 16:36:48 -0300</lastBuildDate>
		<generator>Joomla! - Open Source Content Management</generator>
		<atom:link rel="self" type="application/rss+xml" href="http://ribafs.org/portal/?format=feed&amp;type=rss"/>
		<language>pt-br</language>
		<item>
			<title>Boas Vindas!</title>
			<link>http://ribafs.org/portal/?view=article&amp;id=2:boas-vindas&amp;catid=2</link>
			<guid isPermaLink="true">http://ribafs.org/portal/?view=article&amp;id=2:boas-vindas&amp;catid=2</guid>
			<description><![CDATA[<div class="feed-description"><p>Olá como vai?</p>
<p>Seja sinceramente bem vindo(a)!</p>
<p style="text-align: justify;">Este site está com todo o seu conteúdo atualizado e com alguns novos.<br />Agora temos as versões 3 do Joomla e do CakePHP e também alguns assuntos que não havia, como Laravel 5 e várias ferramentas Mobile.</p>
<p style="text-align: justify;">Os principais assuntos compartilhados aqui são os mostrados nos menus acima.<br />Também, de vez em quando, publico algum artigo na seção Blog, sobre saúde ou alguma reflexão sobre a vida.<br /><br />O foco do conteúdo deste site fica em Linux, Windows, Web (online) e Mobile (especificamente Android).<br />O destaque do conteúdo fica com o <a title="PostgreSQL" href="http://ribafs.org/portal/postgresql">PostgreSQL</a> (que começei a adicionar o conteúdo mas tem muita coisa) e a programação Mobile, especialmente por ter encontrado e compartilhado algumas ferramentas que facilitam a vida do programador, como o <a title="Phaser" href="http://ribafs.org/portal/mobile/phaser">Phaser</a>, <a title="http://ribafs.org/portal/mobile/phonegap" href="http://ribafs.org/portal/mobile/phonegap">PhoneGap</a> e o <a title="http://ribafs.org/portal/mobile/monaca" href="http://ribafs.org/portal/mobile/monaca">Monaca</a>.</p>
<p>Para as versões anteriores do Cake e do Joomla, além de Virtualização de Servidores Linux veja meu aite anterior <a href="http://ribafs.16mb.com/">http://ribafs.16mb.com/</a> <br /><br />Meus livros (todos free aqui no site) - <a title="https://ribafs.org/portal/curriculo/livros.html" href="http://ribafs.org/portal/curriculo/livros.html">https://ribafs.org/portal/curriculo/livros.html</a></p>
<p>Meus projetos no GitHub - <a href="https://github.com/ribafs?tab=repositories" target="_blank" rel="noopener noreferrer">https://github.com/ribafs?tab=repositories</a> <br /><br />Caso tenha encontrado algo errado ou tenha alguma sugestão para melhorar qualquer um dos artigos, por favor acesse o item <a title="Contato" href="http://ribafs.org/portal/contato" rel="alternate">Contato</a> e me enviar uma mensagem. Ou deixe um comentário logo abaixo do próprio artigo.<br /><br />Muito grato.<br />Ribamar FS, 12 de julho de 2017</p>
<p> </p></div>]]></description>
			<category>Destacado</category>
			<category>Uncategorised</category>
			<pubDate>Thu, 22 Jun 2017 11:58:41 -0300</pubDate>
		</item>
	</channel>
</rss>
